# Pluralsight Pandas Course

In [7]:
import numpy as np
import pandas as pd

In [3]:
my_numpy_array = np.random.rand(3)
print(my_numpy_array)

[ 0.69184625  0.33333611  0.32571276]

* Regular/NumPy array: data only
* Series: 
    * has one column
    * adds Row labels to the array
* DataFrame: 
    * one or more columns
    * add Column labels to the array

In [9]:
my_first_df = pd.DataFrame(np.random.rand(3,2))
print(my_first_df)

          0         1
0  0.108471  0.400017
1  0.884404  0.998650
2  0.239889  0.008659

# Series

In [11]:
s = pd.Series(my_numpy_array)
print(s)

0    0.691846
1    0.333336
2    0.325713
dtype: float64

Add labels to the series

In [14]:
s1 = pd.Series(my_numpy_array, index = ["First","Second","Thrid"])
print(s)

First     0.691846
Second    0.333336
Thrid     0.325713
dtype: float64

In [16]:
print(s1["First"])
print(s1[0])

0.691846246787
0.691846246787

In [18]:
s1.index

Index(['First', 'Second', 'Thrid'], dtype='object')

In [19]:
array_2d = np.random.rand(3,2)
array_2d[0,0]

0.20770908018925704

In [21]:
df = pd.DataFrame(array_2d)
df

          0         1
0  0.207709  0.601902
1  0.146497  0.366489
2  0.025167  0.545267

In [23]:
# not possible to access with
# df[0,1]

In [24]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [27]:
df.columns = ["First","Second"]
df

      First    Second
0  0.207709  0.601902
1  0.146497  0.366489
2  0.025167  0.545267

In [30]:
# extract one series from dataframe
s_1 = df["Second"]
type(s_1)

pandas.core.series.Series

## Exporing Pandas Data Input Capabilities